Personal/.idea/*
Personal/Personal/.idea/*
Personal/Personal/target/*
Personal/target/*
.metals/*
.vscode/*
Personal/Personal.iml
Personal/.settings/*
Personal/.metals/*
Personal/.bloop/*
Personal/.classpath
Personal/.project
Personal/.vscode/settings.json
